    <div class="container m-5">

      <% chatData.messages.forEach(m=>{
        let mess = m.message;

        if (m.from_bot && mess ){
          let author = "Elbot/Gigabotti";
          let abc = "bot"
          let cc = "bg-light text-dark";
          let fc = "text-muted"
          if (m.name){
            author = m.name;
            abc = "agent"
            cc = "bg-primary text-white";
            fc = "text-white-50";
            if (author.toLowerCase() === "customer service queue" ){
              cc = "bg-dark text-white";
              abc = "auto"
            }
          }
          %>
          <div class="msg">
              <% if ( abc == "agent" ){ %>
                <div class="msg-card agent">
                    <h5 class="card-header">From <%= author %></h5>
              <%}
              else {%>
                <div class="msg-card bot">
                    <h5 class="card-header">From <%= author %></h5>
              <%}%>

                <div class="card-body">

                  <p class="card-text <%= abc %>"><%= mess %></p>

                  <% if (m.buttons.length){ %>

                    <div class="button-segment">

                  <% m.buttons.forEach((b, i)=>{ %>
                      <button disabled><span class="block"><%= b.label %></span></button>
                  <% });%>
                  </div>
                <% }%>
                </div>
                <div class="card-footer <%= fc %>">
                  <%= m.created %>
                </div>
              </div>

          </div>

        <% } else if (mess) { %>
          <div class="msg">

              <div class="msg-card customer">
                <h5 class="card-header">From Customer</h5>
                <div class="card-body">
                  <p class="card-text customer"><%= mess %></p>
                </div>
                <div class="card-footer text-white-50">
                  <%= m.created %>
                </div>

              </div>

          </div>

        <% }

        }); %>

    </div>
    <script>
        let key = 'ChatTranscript'
    </script>
<!----
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script>
        let key = '<%= key %>';
      function enc(){
        let obj = $('.card-text');
        console.log(obj.length)
        for ( let i = 0; i < obj.length; i++){
          let o = obj[i];
          $(o).html(o.innerText);
        }
      }
      function chDate(){

        let obj = $('.card-footer');
        console.log(obj.length)
        for ( let i = 0; i < obj.length; i++){
          let o = obj[i].innerText;
          //$(o).html(o.innerText);
          let created = moment(o).format("HH:mm:ss");
          $(obj[i]).text(created);
        }

      }
      function adjB (){
        let obj = $('.bRow');
        for ( let i = 0; i < obj.length; i++){
          let r = obj[i];
          let mH = 0;
          for ( let j = 0; j < r.length; j++ ){
            let b = r[j];
            if ( b.style.height > mH ){
              mH = b.style.height;
            }
          }
          for ( let j = 0; j < r.length; j++ ){
            $(r[j]).height(mH);
          }
        }
      }
      enc();
      chDate();
      adjB();
    </script>
-->