    <div class="container m-5">

      <% chatData.messages.forEach(m=>{
        let mess = m.message;

        if (m.from_bot && mess ){
          let author = "Elbot/Gigabotti";
          let abc = "bot"
          let cc = "bg-light text-dark";
          let fc = "text-muted"
          if (m.name){
            author = m.name;
            abc = "agent"
            cc = "bg-primary text-white";
            fc = "text-white-50";
            if (author.toLowerCase() === "customer service queue" ){
              cc = "bg-dark text-white";
              abc = "auto"
            }
          }
          %>
          <div class="msg">
              <% if ( abc == "agent" ){ %>
                <div class="msg-card agent">
                    <h5 class="card-header">From <%= author %></h5>
              <%}
              else {%>
                <div class="msg-card bot">
                    <h5 class="card-header">From <%= author %></h5>
              <%}%>

                <div class="card-body">

                  <p class="card-text <%= abc %>"><%= mess %></p>

                  <% if (m.buttons.length){ %>

                    <div class="button-segment">

                  <% m.buttons.forEach((b, i)=>{ %>
                      <button disabled><span class="block"><%= b.label %></span></button>
                  <% });%>
                  </div>
                <% }%>
                </div>
                <div class="card-footer <%= fc %>">
                  <%= m.created %>
                </div>
              </div>

          </div>

        <% } else if (mess) { %>
          <div class="msg">

              <div class="msg-card customer">
                <h5 class="card-header">From Customer</h5>
                <div class="card-body">
                  <p class="card-text customer"><%= mess %></p>
                </div>
                <div class="card-footer text-white-50">
                  <%= m.created %>
                </div>

              </div>

          </div>

        <% }

        }); %>

    </div>
    <script>
        let key = 'ChatTranscript'
    </script>
